In [1]:
# Functions
b=10
g=20
f=b+g
print(f)

30

In [8]:
def abc():
    print("hello")
    print("dncjnsddnkansdksdksndksdnksxkn")
abc()
def abc():
    a=10
    b=20
    c=a+b
    print(c)
abc()

hello
dncjnsddnkansdksdksndksdnksxkn
30

In [13]:
# find the factorial of 5 using function
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [17]:
# Default parameter
def greet(name="User"):
    print(f"Hello,{name}!")
greet()
greet("Viraj")

Hello,User!
Hello,Viraj!

In [18]:
def greet(name="User"):
    print("Hello,{name}!") #here we removed f to see the output
greet()
greet("Viraj")

Hello,{name}!
Hello,{name}!

In [20]:
# Reverse a string using funtion
def reverse_string(s):
  return s[::-1] 
  # return "".join(reversed(s)) # Using reversed() and join()
print(reverse_string("hello"))

olleh

In [22]:
# Reverse a list using funtion
def reverse_list(my_list):
    my_list.reverse()
    return my_list
# Example Usage:
systems = ['Windows', 'macOS', 'Linux']
print(f'Original List: {systems}')
reverse_list(systems)
print(f'Updated List: {systems}')

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [26]:
# print odd and even numbers using functions
def check_even_odd_num(number):
    if number %2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

check_even_odd_num(10)
check_even_odd_num(9)

10 is even
9 is odd

In [29]:
# print a palindrome using a function
def is_palindrome(text):
    s = str(text)
    reversed_s = s[::-1]
    if s == reversed_s:
        print(f"'{text}' is a palindrome!")
        return True
    else:
        print(f"'{text}' is not a palindrome.")
        return False
# Example Usage
is_palindrome(121)      
is_palindrome("madam")  
is_palindrome(123)      
is_palindrome("Viraj")

'121' is a palindrome!
'madam' is a palindrome!
'123' is not a palindrome.
'Viraj' is not a palindrome.

False

In [31]:
# Create a calculator usig a function
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

# Main calculator logic
def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    while True:
        choice = input("Enter choice (1/2/3/4): ")
        if choice in ('1', '2', '3', '4'):
            try:
                num1 = float(input("Enter first number: "))
                num2 = float(input("Enter second number: "))
            except ValueError:
                print("Invalid input. Please enter a valid number.")
                continue

            if choice == '1':
                print(f"{num1} + {num2} = {add(num1, num2)}")

            elif choice == '2':
                print(f"{num1} - {num2} = {subtract(num1, num2)}")

            elif choice == '3':
                print(f"{num1} * {num2} = {multiply(num1, num2)}")

            elif choice == '4':
                result = divide(num1, num2)
                print(f"{num1} / {num2} = {result}")

            next_calculation = input("Want to perform another calculation? (yes/no): ")
            if next_calculation.lower() != 'yes':
                break
        else:
            print("Invalid input. Please enter a valid choice (1/2/3/4).")

calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  1
Enter first number:  56
Enter second number:  78

56.0 + 78.0 = 134.0

Want to perform another calculation? (yes/no):  no

In [ ]:
# Default argument example
def myFun(x,y=50)
    if abc%2 ==0:
        print("even",abc)
    else:
        print("odd",abc)

In [44]:
# prime number using function
import math
def is_prime(num):
    if number <= 1:
        return False
    for i in range(2,num):
        if number % i == 0:
            return False
    return True
n= int(input("Enter a number:"))
print("Prime" if is_prime(n) else "Not Prime")

Enter a number: 18

Not Prime

In [49]:
# Using *args 
# for handing multiple values through  SINGLE PARAMETER
def sum_all(*numbers):
    return sum(numbers)
print(sum_all(1, 2, 3, 4, 20, 30, 40))

100

In [51]:
# kwargs for variable number of keyword argument
def show_info(**info):
    for key, value in info.items():
        print(key,value)

show_info(name="Alice",age=25,course="Python",name1="nikhil",city='pune')

name Alice
age 25
course Python
name1 nikhil
city pune

In [56]:
# Local variaable
def my_function():
    y=5
    print(y)

In [57]:
def my_function():
    y=5
    y=my_function()
    print(y)

In [59]:
def my_function():
    y=5
    print(y) 
y=my_function()
print(y)

5
None

In [65]:
# Global vriable
c=10
def my_function():
    global c
    d=10+c #30 #local
    print(d)
my_function()
print(c)
print(d)

20
10

NameError: name 'd' is not defined

In [74]:
# Define and initialize the balance variable in the global scope first
# ATM machine
balance = 1000  #global variable
def withdraw(amount):
    global balance
    if amount <= balance:
        balance -= amount
        print(f"withdrawal successful. Remaining balance: {balance}")
    else:
        print("Insufficient balance.")

withdraw(200)
print(f"Balance outside function: {balance}")

withdrawal successful. Remaining balance: 800
Balance outside function: 800

In [2]:
def my_function():
    pass
for i in range(10):
    if i%2==0:
        print(i)
    else:
        pass
            # print(i)
    my_function()

0
2
4
6
8

In [80]:
# Find the vowels from the string
def find_vowels(text):
    vowels = ['a', 'e', 'i', 'o', 'u']
    found_vowels = []
    for char in text.lower():
        if char in vowels:
            found_vowels.append(char)
    return found_vowels

my_string = "Hello World"
print(find_vowels(my_string))

SyntaxError: expected ':' (237617184.py, line 5)

In [85]:
def xyz(str):
    vowel='aeiouAEIOU'
    count=0
    for i in str:
        if i in vowel:
            count+=1
    return count
print(xyz("VirAj"))

2