In [4]:
a=[1,2,3,2.4,"VW",True]
a[0]=60
a.append(6)
a.append("Happy")
print(a)

[60, 2, 3, 2.4, 'VW', True, 6, 'Happy']

In [6]:
a=[1,2,3,4,5]
a.remove(4)
print(a)

[1, 2, 3, 5]

In [7]:
b=[1,2,3,4,5]
b.pop()
print(b)

[1, 2, 3, 4]

In [8]:
a=[1,2,2,2,3,4,5]
count1=a.count(2)
print(count1)

3

In [10]:
a=[1,2,3,4,5]
a.extend([8,9,10])
print(a)

[1, 2, 3, 4, 5, 8, 9, 10]

In [30]:
a=[1,2,3,4,5]
a.insert( __index: 1, __object: 70)
print(a)

SyntaxError: invalid syntax (223482994.py, line 2)

In [31]:
a=[1,2,3]
print(sum(a))

6

In [32]:
grades = [85,90,78,92,88]
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade}")

Average Grade: 86.6

In [33]:
# Reverse a list using inbuilt function
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [34]:
a = [1, 2, 3, 4, 5]
b = list(reversed(a))
print(b) 
print(a)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [36]:
# Reverseing a list without using inbuilt function

def reverse_list_new(original_list):
    reversed_list = []
    # Iterate from the last index down to the first
    for i in range(len(original_list) - 1, -1, -1):
        reversed_list.append(original_list[i])
    return reversed_list

# Example Usage:
original_list = [10, 20, 30, 40]
reversed_list = reverse_list_new(original_list)
print(reversed_list)
print(original_list)

[40, 30, 20, 10]
[10, 20, 30, 40]

In [39]:
# Reverseing a string without using inbuilt function

def reverse_for_loop(s):
    reversed_s = ""
    for char in s:
        reversed_s = char + reversed_s
    return reversed_s

# Example
input_str = "Python"
print(f"Original string: {input_str}")
print(f"Reversed string: {reverse_for_loop(input_str)}")

Original string: Python
Reversed string: nohtyP

In [44]:
# A Tuple can store different diffrerent datatypes & is immutable
a=("Viraj",10.5,10,True)
print(a)

('Viraj', 10.5, 10, True)

In [42]:
# A Tuple can store duplicate values & is ordered
my_tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(my_tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [49]:
a=(2)
print(type(a))

b=(2,)
print(type(b))

<class 'int'>
<class 'tuple'>

In [50]:
nested_tuple=((1,2,3),(4,5,6))
print(nested_tuple)

((1, 2, 3), (4, 5, 6))

In [51]:
list_tuple = (1,2,[3,4,5])
print(list_tuple)

(1, 2, [3, 4, 5])

In [55]:
a=(1,2,3,4,5)
b=list(a)
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4, 5]

In [57]:
# Create a empty Tuple
empty_tuple = ()
print(empty_tuple)

()

In [58]:
# Accesing value in a tuple using indexing / Fetch the specific element using indexing
my_tuple = ("apple", "banana", "cherry", "orange")

# Accessing the first element (index 0)
first_item = my_tuple[0]
print(first_item)

# Accessing the third element (index 2)
third_item = my_tuple[2]
print(third_item)

apple
cherry

In [59]:
# Check existence of an item in a python tuple using if else
my_tuple = ('apple', 'banana', 'cherry', 'date')
item_to_find = 'banana'

if item_to_find in my_tuple:
    print(f"{item_to_find} exists in the tuple.")
else:
    print(f"{item_to_find} does not exist in the tuple.")

banana exists in the tuple.

In [63]:
# Negative indexing in tuple
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# Access the last item
last_item = fruits[-1]
print(f"The last item is: {last_item}")

# Access the third-to-last item
third_last_item = fruits[-3]
print(f"The third-to-last item is: {third_last_item}")

fruits[-5]

The last item is: mango
The third-to-last item is: kiwi

'cherry'

In [67]:
# Slicing in tuple
tuple1 = ('a', 'b', 'c', 'd', 'e')
print(tuple1[1:4])

('b', 'c', 'd')