In [1]:
# Dictionary
# Accessing values
my_dict = {'name': 'John','age': 30,'city':'New York'}
print(my_dict['name'])
print(my_dict['age'])

John
30

In [3]:
# Adding or updating items
my_dict = {'name': 'John','age': 30,'city':'New York'}
my_dict['college']="PCU"
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'college': 'PCU'}

In [5]:
# Updating values
my_dict = {'name': 'John','age': 30,'city':'New York'}
my_dict['age']=31
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}

In [10]:
# Remove item
my_dict = {'name': 'John','age': 30,'city':'New York'}
del my_dict['city']
print(my_dict)

{'name': 'John', 'age': 30}

In [14]:
# Using pop() to remove items
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
removed_age = my_dict.pop('age')
print(f"Removed age: {removed_age}") 
print(my_dict)

Removed age: 30
{'name': 'John', 'city': 'New York'}

In [16]:
my_dict={'name':'Viraj','age':30,'city':'pune'}
# Get all keys
k=my_dict.keys()
print(k)

dict_keys(['name', 'age', 'city'])

In [17]:
my_dict={'name':'Viraj','age':30,'city':'pune'}
k=my_dict.values()
print(k)

dict_values(['Viraj', 30, 'pune'])

In [18]:
my_dict.clear()
print(my_dict)

{}

In [19]:
# Merging dictionaries
# Merging dictionaries using update()
dict1 = {'name':'John'}
dict2 = {'age':31}
dict1.update(dict2)
print(dict1)

{'name': 'John', 'age': 31}

In [20]:
# Merging using star
dict1 = {'name':'John'}
dict2 = {'age':31}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'name': 'John', 'age': 31}

In [24]:
# Nested Dictionaries
nested_dict={
    'person': {'name':'John','age':31},
    'address': {'city':'New York','zip':'1001'}
}
print(nested_dict)

{'person': {'name': 'John', 'age': 31}, 'address': {'city': 'New York', 'zip': '1001'}}

In [26]:
k=my_dict.keys()

In [29]:
nested_dict={
    'person': {'name':'John','age':31},
    'address': {'city':'New York','zip':'1001'}
}
print(nested_dict)

c=nested_dict['person']['age']
print(c)

{'person': {'name': 'John', 'age': 31}, 'address': {'city': 'New York', 'zip': '1001'}}
31

In [31]:
nested_dict={
    'person': {'name':'John','age':31},
    'address': {'city':'New York','zip':'1001'}
}
print(nested_dict)
d=nested_dict['address']['zip']
print(d)

{'person': {'name': 'John', 'age': 31}, 'address': {'city': 'New York', 'zip': '1001'}}
1001

In [35]:
a={'ni':"nikhil","ave":"avanti"}
my_dict={'name':'Aanugrah','age':30,'city':'pune'}
name = my_dict.get('name','Unknown')
# If 'name' doesn't exist,returns 'Unknown'
na= my_dict.get("na")
print(na)
print(name)

None
Aanugrah

In [36]:
# Copy a dictionary
original_dict={'name':'John'}
copied_dict = original_dict.copy()
print(copied_dict)

{'name': 'John'}

In [41]:
# verify user password 
stored_password = "admin@123"
user_password = input("Enter your password")

if user_password == stored_password:
    print("Login successful!")
else:
    print("Please try again")

Enter your password admin@123

Login successful!

In [52]:
salary={"a":3000,"b":40000}
keys=list(salary.keys())
for i in keys:
    salary[i]+=0.10*salary[i]
    print(salary)

{'a': 3300.0, 'b': 40000}
{'a': 3300.0, 'b': 44000.0}

In [55]:
# Shopping cart
# calculate bill
cart = {"Laptop": 50000, "Mouse": 500}
total_bill = sum(cart.values())
print("Total bill:", total_bill)

Total bill: 50500

In [57]:
# Inventory management
# Scenario:Update stock after sales.
stock ={"Pen":20}
sold = {"Pen": 5}

for k in sold:
    stock[k] -= sold[k]
    print(stock)

{'Pen': 15}

In [58]:
# Accessing character
text="Python"
print(text[0])

P

In [59]:
text="Python"
print(text[-3])

h

In [60]:
text="Python"
print(text[0:3])

Pyt

In [61]:
text="Python"
print(text[:3])

Pyt

In [62]:
text="Python"
print(text[3:])

hon

In [63]:
text="Python Programming"
print(text.startswith("Py"))

True

In [66]:
text="Python Programming"
print(text.endswith("ing"))

True

In [67]:
# check alphabets
print("abc".isalpha())

True

In [69]:
# checks numbers
print("123".isdigit())

True

In [70]:
# checks both alphabets and numbers
print("abc123".isalnum())

True

In [76]:
# converting to string
num =123
str_num = str(num)
print(str_num,type(str_num))

123 <class 'str'>

In [78]:
# check of substring
sentence="Learning pyhton is fun"
print("Python in sentence")
print("Java not in sentence")

Python in sentence
Java not in sentence

In [80]:
text ="Hello"
text[0]='y'
print(text)

TypeError: 'str' object does not support item assignment

In [81]:
a='python'
print(len(a))

6

In [82]:
a='upper'
print(a.upper())

UPPER

In [87]:
# replace
a='python'
print(a.replace('p','k')) #this is new strings created it does not replace the original string
print(a.replace('t','o'))
print(a) #as str is immutable

kython
pyohon
python

In [86]:
# count
a='ppppython'
print(a.count('p'))

4

In [89]:
# FUNCTIONS
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [90]:
# Iterate over each character
word="hello"
for char in word:
    print(char)

h
e
l
l
o

In [94]:
# Iterate through a list to modify each element
my_list = [1,2,3,4,5]
for i in range(len(my_list)):
    my_list[i] = my_list[i] * 2

print(my_list)

[2, 4, 6, 8, 10]

In [99]:
for i in range(1,6):
        if i == 4:
            break 
        print(i)

1
2
3

In [100]:
for i in range(1,6):
        if i == 4:
            continue 
        print(i)

1
2
3
5

In [101]:
# sum of numbers using a for loop:
total =0
for i in range(1,6):
    total=total+i
print(total)

15

In [102]:
# Repeating a list of squares of numbers then add that cubed number in a new list:
original_numbers = [1, 2, 3, 4, 5]
squares_list = []
cubes_list = []
for number in original_numbers:
    squares_list.append(number ** 2)
    cubes_list.append(number ** 3)
print("Original numbers:", original_numbers)
print("Squares list:", squares_list)
print("Cubes list:", cubes_list)

Original numbers: [1, 2, 3, 4, 5]
Squares list: [1, 4, 9, 16, 25]
Cubes list: [1, 8, 27, 64, 125]

In [104]:
# flattening a list of lists
lists=[[1,2,3],[4,5],[6,7]]
flattened =[]
for sublist in lists:
    for item in sublist:
        flattened.append(item)
        print(flattened)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [107]:
# find the second highest number in the list (with using inbuilt function)
nums = [10, 20, 4, 45, 99]
nums.sort()
print(nums[-2])

45

In [108]:
# find the second highest number in the list (without inbuilt function)
def find_second_highest(nums):
    # Initialize with negative infinity
    high = second_high = float('-inf')

    for x in nums:
        if x > high:
            second_high = high
            high = x
        elif x > second_high and x != high:
            second_high = x
            
    return second_high

# Example usage
numbers = [12, 35, 1, 10, 34, 1]
print("Second highest:", find_second_highest(numbers))

Second highest: 34