In [1]:
# Test
def fun(x=[]):
    x.append(1)
    return x
print(fun())
print(fun())

[1]
[1, 1]

In [2]:
def test(a,b=5):
    return a+b
print(test(3))

8

In [3]:
x=lambda a,b:a*b
print(x(2,3))

6

In [9]:
def gen():
    yield 1
    yield 2
g=gen()
print(next(g))

1

In [10]:
class A:
    def show(self):
        print("A")
class B():
    pass

In [12]:
print("Python"[::-1])

nohtyP

In [13]:
print(type(None))

<class 'NoneType'>

In [16]:
#Without using Threading
def vir():
    for i in range(3):
       print("Viraj")
def wal():
    for i in range(3):
        print("Walunj")
vir()
wal()

Viraj
Viraj
Viraj
Walunj
Walunj
Walunj

In [38]:
import threading
import time

def print_numbers():
    for i in range(1,6):
        print("Number:",i)
        time.sleep(1)
def print_letters():
    for ch in ['A','B','C','D','E']:
        print("letter:",ch)
        time.sleep(1)

t1=threading.Thread(target=print_numbers)
t2=threading.Thread(target=print_letters)

t1.start()
t2.start()

t1.join()
t2.join()

Number: 1
letter: A
Number: 2
letter: B
Number: 3
letter: C
Number: 4
letter: D
Number: 5
letter: E

In [39]:
# Threading
import threading
import time
def worker_function():
    print("Worker thread started")
    time.sleep(2) # Simulate work
    print("Worker thread finished")
# Create a thread
thread = threading.Thread(target=worker_function)
# Start the thread
thread.start()
print("Main thread continues...")
thread.join()
print("Main thread finished")

Worker thread startedMain thread continues...

Worker thread finished
Main thread finished

In [40]:
# Pandas - a powerful Python library for data analysis, manipulation, and cleaning
# Pandas datastructure
import pandas as pd
s=pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [50]:
import pandas as pd
data={
    "Name":["Aditya","Viraj","Rahul"],
    "Age":[99,38,78],
    "Marks":[85,90,88]
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Marks
0  Aditya   99     85
1   Viraj   38     90
2   Rahul   78     88

In [51]:
import pandas as pd
# Filter people older than 28
ages_filtered = df[df['Age'] > 28]
print(ages_filtered)
average_age = df['Age'].mean()
print(f"\nAverage age: {average_age}")

     Name  Age  Marks
0  Aditya   99     85
1   Viraj   38     90
2   Rahul   78     88

Average age: 71.66666666666667

In [53]:
# import pandas as pd
# from dictionary
pd.DataFrame({"A":[1,2],"B":[3,4]})
# from list
pd.DataFrame([[1,2],[3,4]], columns=["A","B"])

   A  B
0  1  2
1  3  4

In [56]:
# student marks analysis(basic operation)
data={
    "Name":["Aditya","Viraj","Rahul"],
    "Marks":[85,90,88]
}
df=pd.DataFrame(data)
print(df)
print("Average Marks:",df["Marks"].mean())

     Name  Marks
0  Aditya     85
1   Viraj     90
2   Rahul     88
Average Marks: 87.66666666666667

In [59]:
# Filtering and sorting
data={
    "Name":["Aditya","Viraj","Rahul"],
    "Marks":[85,90,69]
}
df=pd.DataFrame(data)
high_score = df[df["Marks"]>80]
print(high_score)

     Name  Marks
0  Aditya     85
1   Viraj     90

In [68]:
# handling missing values
data={
    "Name":["Aditya","Viraj","Rahul"],
    "Marks":[None,90,69]
}
df=pd.DataFrame(data)
print(df)
df["Marks"] = df["Marks"].fillna(0) #fillna() avoid errors
print("\nAfter Cleaning:")
print(df)

print("\nAverage Marks:",df["Marks"].mean())

     Name  Marks
0  Aditya    NaN
1   Viraj   90.0
2   Rahul   69.0

After Cleaning:
     Name  Marks
0  Aditya    0.0
1   Viraj   90.0
2   Rahul   69.0

Average Marks: 53.0

In [91]:
data={
    "Name":["Aditya","Viraj","Rahul","Utkarsh","Siddhu"],
    "Department":["IT","CS","IT","CS","IT"],
    "Marks":[None,90,69,89,67]
}
df=pd.DataFrame(data)
# Display first row 
print("1. Original Data")
print(df)
# Display first three records
print("\n2. First 3 Records")
print(df.head(3))
# Shape and data type
print("\n3. Shape:", df.shape)
print("\nData Types:")
print(df.dtypes)
#handle missing value
df["Marks"].fillna(df["Marks"].mean())
print("\n4. After Filling Missing Marks")
print(df)
# Add Result Column
def result(m):
    return "Pass" if m>= 75 else "Fail"
df["Result"] = df["Marks"].apply(result)
print("\n5. Result Column Added")
print(df)
# Filtered Passed student
passed_student = df[df["Result"] == "Pass"]
print("\n6. Filtering Passed Students")
print(passed_student)
# Sort by Marks(Descending)
sorted_df= df.sort_values("Marks",ascending=False)
print("\n7. Sorted by Marks")
print(sorted_df)
# Average Marks
avg_marks=df["Marks"].mean()
print("\n8. Average Marks:", avg_marks)
# Group by department
dept_avg=df.groupby("Department")["Marks"].mean()
print("\n9. Department Wise Average Marks")
print(dept_avg)
# Save Report to csv
sorted_df.to_csv("Student_result_report.csv", index=False)
print("\n10. Report saved as Student_result_report.csv")

1. Original Data
      Name Department  Marks
0   Aditya         IT    NaN
1    Viraj         CS   90.0
2    Rahul         IT   69.0
3  Utkarsh         CS   89.0
4   Siddhu         IT   67.0

2. First 3 Records
     Name Department  Marks
0  Aditya         IT    NaN
1   Viraj         CS   90.0
2   Rahul         IT   69.0

3. Shape: (5, 3)

Data Types:
Name           object
Department     object
Marks         float64
dtype: object

4. After Filling Missing Marks
      Name Department  Marks
0   Aditya         IT    NaN
1    Viraj         CS   90.0
2    Rahul         IT   69.0
3  Utkarsh         CS   89.0
4   Siddhu         IT   67.0

5. Result Column Added
      Name Department  Marks Result
0   Aditya         IT    NaN   Fail
1    Viraj         CS   90.0   Pass
2    Rahul         IT   69.0   Fail
3  Utkarsh         CS   89.0   Pass
4   Siddhu         IT   67.0   Fail

6. Filtering Passed Students
      Name Department  Marks Result
1    Viraj         CS   90.0   Pass
3  Utkarsh         CS   89.0   Pass

7. Sorted by Marks
      Name Department  Marks Result
1    Viraj         CS   90.0   Pass
3  Utkarsh         CS   89.0   Pass
2    Rahul         IT   69.0   Fail
4   Siddhu         IT   67.0   Fail
0   Aditya         IT    NaN   Fail

8. Average Marks: 78.75

9. Department Wise Average Marks
Department
CS    89.5
IT    68.0
Name: Marks, dtype: float64

10. Report saved as Student_result_report.csv

In [92]:
# some students marks are missing perform the following
# 1.create the dataframe
# 2.identify missing value
# 3.replace the missing value with zero 
# 4.display the students who scored more than 70

In [ ]:
# Student result analysis
# name = department and marks
# create dataframe
# fill missing marks with average marks 
# add new column(result) marks > 75 = pass otherwise fail
# display only pass student
# find department wise average marks